.buttonProofMe {
    padding-left: 10px !important;
    margin-left: -3px !important;
    background: #6ac000 !important;
}

.buttonEditPanel {
    border: 0px !important;
    margin: 10px 5px 0px 5px !important;
    background: #04bcff !important;
    line-height: 2.5 !important;
}
.proofme-import-modal {
    font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 491px;
    height: 256px;
    background: white;
    margin: auto;
    margin-top: 20%;

    border-radius: 10px;
}
.circleLogo {
    padding: 10px;
}
.centerPart {
    padding: 10px 8px 0px 8px;
}

.closePopup {
    font-size: 9px;
    opacity: 0.6;
    padding: 12px;
    cursor: pointer;
    float: right;
}

.bottomPart {
    padding: 20px;
    height: 20px;
    display: block;
    background: #F0F0F0;
    border-radius: 0px 0px 10px 10px;
}

#loading-message {
    padding: 10px;
    font-size: 18px;
    font-weight: 100;
}

#myProgress {
    border-radius: 8.5px;
    position: relative;
    width: 100%;
    height: 17px;
    background-color: #F0F0F0;
}

#myBar {
    border-radius: 8.5px;
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #6ACD00;
}



.proofme-details-popup {
    position: fixed;
    width:400px !important;
    /*min-height: 100px;*/
    z-index:10000;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px !important;
    opacity: none !important;
    -webkit-animation: none !important;
    animation: none !important;
    box-shadow: 0 0 0 2px rgba(63,70,82,.15);
}



.hide-loader {
    display: none;
    padding-right: 5px;
    height: 17px;
    width: 17px;
    transform: translateY(2px);
}

.annotation-item {
    padding: 5px;
    line-height: 22px;
    /*background-size: 26px 19px;*/
}

.header {
    display: inline;
    font-size: 14px;
    padding: 5px;
}

.header::before{
    content: ' ';
    display: block;
    position: absolute;
    top: -9px;
    left: 105px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 9px;
    border-color: transparent transparent white;
    z-index: 2;
}

.header::after{
    content: ' ';
    display: block;
    position: absolute;
    z-index: 1;
    top: -12px;
    left: 104px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent rgba(63,70,82,.15);
    border-width: 0 10px 10px;
}

.unread-count{
    color: white;
    padding-left: 5px;
    padding-right: 6px;
    background-image: url("https://raw.githubusercontent.com/proofme/proofme-canva/master/images/proof-update-dropdown-icons/bubble-blue%402x.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.read-count{
    color: white;
    padding-left: 5px;
    padding-right: 6px;
    background-image: url("https://raw.githubusercontent.com/proofme/proofme-canva/master/images/icon-counter-bubble3.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#openup {
    margin-left: 2px;
}

.read-count-on-button{
    color: #00c4cc;
    padding-left: 5px;
    padding-right: 6px;
    background-image: url("https://raw.githubusercontent.com/proofme/proofme-canva/master/images/proof-update-dropdown-icons/bubble-white%402x.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.two-digits-count{
    background-size: 27px 19px !important;
}

.three-digits-count{
    background-size: 35px 19px !important;
}

.fileAvatar{
    max-width:50px;
    max-height:50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.fileAvatarContainer {
    height: 50px;
    width: 50px;
    position: relative;
    float: right !important;
    margin: 0;
}

.managerNote {
    float: right;
    height: 20px;
    width: 20px;
}

.magicHr {
    background:url('https://ci3.googleusercontent.com/proxy/iwLaYvpDu1bYzD9Ml9V51X5W4LYUeR_6QjGg_vvXdmtGendDG6TsD_mPFj2VQBhia70SRzSIKXUeA3dzdZIWnVuw2GC_M2OqaKKh86g82yAx3QSgwS63loDIzfs=s0-d-e1-ft#https://d1pgqke3goo8l6.cloudfront.net/nBbTUkDqR3WiJfLc6YRa_divider.png') no-repeat top/contain;
    background-position:top;
    background-repeat:no-repeat;
    border:none;
    min-height:2px;
    margin:0;
    padding:0;
    opacity: 0.5;
}

.acronym {
    color: white;
    font-size: 26px;
    opacity: 0.8;
    font-weight: 300;
    cursor: default;
}

.acronym-decision {
    position: fixed;
    transform: translateX(-46px) translateY(13px);
}

.acronym-summary {
    position: absolute;
    transform: translateX(-38px) translateY(13px);
}

.clip-2 {
    position: absolute;
    clip: rect(0px,40px,50px,16px);
    transform: translateX(-16px);
}

.clip-3 {
    position: absolute;
    clip: rect(0px,30px,50px,12px);
    transform: translateX(-12px);
}

.clip-4 {
    position: absolute;
    clip: rect(0px,20px,50px,8px);
    transform: translateX(-8px);
}

.clip-5 {
    position: absolute;
    clip: rect(0px,19px,50px,7px);
    transform: translateX(-7px);
}

/* tell the container's children to float left: */
.float-my-children > * {
    float:left;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* end clearfix*/
