.buttonProofMe {
    padding-left: 5px !important;
    background: #6ACD00 !important;
}
.proofme-import-modal {
    font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 491px;
    height: 230px;
    background: white;
    margin: auto;
    margin-top: 20%;

    border-radius: 10px;
}
.circleLogo {
    padding: 10px;
}
.centerPart {
    padding: 10px 8px 0px 8px;
}

.converting-loader {
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow:hidden;
    flex-direction: column;
    &.shown{
        display: flex;
    }
}

.closePopup {
    font-size: 9px;
    opacity: 0.6;
    padding: 12px;
    cursor: pointer;
    float: right;
}

.bottomPart {
    padding: 20px;
    height: 20px;
    display: block;
    background: #F0F0F0;
    border-radius: 0px 0px 10px 10px;
}

#loading-message {
    padding: 10px;
    font-size: 18px;
    font-weight: 100;
}

#myProgress {
    border-radius: 7px;
    position: relative;
    width: 100%;
    height: 14px;
    background-color: #F0F0F0;
}

#myBar {
    border-radius: 7px;
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #6ACD00;
}
