.buttonProofMe {
    padding-left: 5px !important;
}

.proofme-import-modal {
    width: 481px;
    height: 220px;
    background: white;
    margin: auto;
    margin-top: 20%;
    padding: 100px;
    border-radius: 10px;
}

.converting-loader {
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow:hidden;
    flex-direction: column;
    &.shown{
        display: flex;
    }
}


.converting-loader > *{
    margin:0.5em 0;
}
.circles{
    width: 160px;
    height: 160px;
}

.loader6{
    width: 160px;
    height: 160px;
    position:absolute;
    border-radius:50%;
    animation:loader6Rotate 3s infinite cubic-bezier(.17,.67,.83,.67);
}

.loader6:before{
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border: 18px solid transparent;
    border-left: 18px solid rgba(0, 180, 255, .3);
    border-right: 18px solid rgba(0, 180, 255, .3);
    border-top: 18px solid rgba(0, 180, 255, .6);
    border-bottom: 18px solid rgba(0, 180, 255, .6);
    border-radius:50%;
    //animation:loader6Rotate 3s infinite cubic-bezier(.17,.67,.83,.67);
}

.loader7{
    width: 160px;
    height: 160px;
    position:absolute;
    border-radius:50%;
    animation:loader6Rotate 3s infinite cubic-bezier(.17,.67,.83,.67) reverse;
}

.loader7:before{
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border: 9px solid transparent;
    border-radius:50%;
    border-left: 9px solid rgba(0, 180, 255, .9);
    border-top: 9px solid rgba(0, 180, 255, .6);
    border-right: 9px solid rgba(0, 180, 255, .9);
    border-bottom: 9px solid rgba(0, 180, 255, .6);
    transform:rotate(45deg);
    margin: 9px;
    //animation:loader6Rotate 3s infinite cubic-bezier(.17,.67,.83,.67) reverse;
}
.converting-loader-label{
    font-size: 19px;
}


@keyframes loader6Rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.vjs-default-skin.source-loading {
    .vjs-big-play-button{
        display: none;
    }
    .vjs-play-control{
        pointer-events: none;
        opacity: 0.2;
    }
    .vjs-duration-display{
        display: none;
    }
}
